# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Overview of Data Science tools
- Some commonly used libraries
- Languages of Data Science
- Arithmetic Expressions

## Author:
Sarang

Some of the commonly used Data Science Languages are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists are:
1. pandas
2. matplotlib
3. seaborn
4. TensorFlow

|Data Science Tools|
|------|
|Apache Spark|
|Hadoop|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335